@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Laboratorios</h1>

<!-- Botón para abrir el modal -->
<div class="container text-end mt-4">
    <i onclick="abrirModalAgregar()" class="btn btn-primary p-2" data-bs-toggle="modal" data-bs-target="#modalGuardarLaboratorio">Agregar
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-plus" viewBox="0 0 16 16">
            <path d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V6.5A.5.5 0 0 1 8 6.5" />
            <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5z" />
        </svg>
    </i>
</div>

<!-- Contenedor para mostrar la tabla -->
<div id="divTabla" class="container mt-4">
    <div id="divContenedor"></div>
</div>

<!-- Ventana Modal -->
<div class="modal fade" id="modalGuardarLaboratorio" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="exampleModalLabel">Guardar Laboratorio</h5>
                <button type="button" class="btn-close" onclick="LimpiarLab()" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Formulario dentro del modal -->
                <form id="frmIn" method="POST">
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Id Lab</span>
                        <input type="text" name="idLaboratorio" id="idLaboratorio" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Nombre</span>
                        <input type="text" name="nombre" id="nombre" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Dirección</span>
                        <input type="text" name="direccion" id="direccion" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Contacto</span>
                        <input type="text" name="contacto" id="contacto" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Número Contacto</span>
                        <input type="text" name="numcontacto" id="numcontacto" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="LimpiarLab()" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" onclick="guardarLab()" class="btn btn-primary">Guardar</button>
                <button type="button" onclick="LimpiarLab()" class="btn btn-outline-secondary">Limpiar</button>
            </div>
        </div>
    </div>
</div>

<fieldset>
    <legend>Buscar laboratorio</legend>
    <form id="frmBusqueda" method="POST">
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Nombre</span>
            <input type="text" name="nombre" id="nombre" onkeyup="buscarLab()" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Direccion</span>
            <input type="text" name="direccion" id="direccion" onkeyup="buscarLab()" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Contacto</span>
            <input type="text" name="contacto" id="contacto" onkeyup="buscarLab()" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="col-12">
            <button onclick="Limpiar()" class="btn btn-primary" type="button">Limpiar</button>
        </div>
    </form>
</fieldset>
<!-- Scripts -->
<script src="~/js/queries.js"></script>
<script src="~/js/laboratorio.js"></script>