
@{
    ViewData["Title"] = "Index";
}

<h1>Laboratorios</h1>

<script src="~/js/queries.js"></script>
<script src="~/js/laboratorio.js"></script>

<fieldset>
    <legend>Buscar</legend>

    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Nombre</span>
        <input type="text" id="nombre" onkeyup="filtrarLaboratorio()" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Direccion</span>
        <input type="text" id="direccion" onkeyup="filtrarLaboratorio()" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Contacto</span>
        <input type="text" id="persona" onkeyup="filtrarLaboratorio()" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>
    <button type="button" onclick="filtrarLaboratorio()" class="btn btn-outline-primary">Filtrar</button>

    <div id="divTabla">
    </div>

    <div class="col-12">
        <button onclick="Limpiar()" class="btn btn-primary" type="button">Limpiar</button>
    </div>
</fieldset>
