/* Estilo base para la página */
body{
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
    }

    /* Fondo para pantallas medianas (600px <= ancho <= 900px) */
@media (min-width: 600px) and (max-width: 900px) {
    body {
    background-color: lightgreen;
    }
}
/* Fondo para pantallas pequeñas (ancho <= 600px) */
@media (max-width: 600px) {
    body {
    background-color: lightblue;
    }
}


/* Fondo para pantallas grandes (ancho > 900px) */
@media (min-width: 901px) {
    body {
    background-color: lightcoral;
    }
}