@{
    ViewData["Title"] = "Medicamento";
}
<h1>@ViewData["Title"]</h1>

<fieldset class="container mt-5 p-4 border rounded shadow-sm">
    <legend class="text-center fw-bold text-primary">Filtrar Medicamento</legend>
<div class="container mt-4">
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text bg-primary text-white">ID Medicamento</span>
        <input type="text" id="idMed" onkeyup="filtrarMedicamento()" class="form-control" placeholder="Buscar..." aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text bg-primary text-white">Medicamento nombre</span>
        <input type="text" id="nombre" onkeyup="filtrarMedicamento()" class="form-control" placeholder="Buscar..." aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text bg-primary text-white">ID Laboratorio</span>
        <input type="text" id="idLab" onkeyup="filtrarMedicamento()" class="form-control" placeholder="Buscar..." aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text bg-primary text-white">ID Tipo Medicamento</span>
        <input type="text" id="idTM" onkeyup="filtrarMedicamento()" class="form-control" placeholder="Buscar..." aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>
</div>
</fieldset>
<div id="divTabla" class="container mt-4">
    <!-- Aquí se cargará dinámicamente la tabla -->
</div>

<script src="~/js/queries.js"></script>
<script src="~/js/medicamento.js"></script>
