/* Estilo personalizado para la barra lateral */
.sidebar[b-6eawenayvb] {
    width: 250px;
    background-color: #e3f2fd; /* Azul claro suave */
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.main-content[b-6eawenayvb] {
    margin-left: 250px; /* Espacio para la barra lateral */
    padding: 20px;
    background-color: #ced4da; /* Fondo suave para el contenido principal */
}

.sidebar .nav-link[b-6eawenayvb] {
    color: #495057; /* Gris oscuro para texto */
    font-weight: 500;
    border-radius: 0;
    padding: 10px 15px;
    transition: all 0.3s ease;
}

.sidebar .nav-link:hover[b-6eawenayvb] {
    background-color: #bbdefb; /* Azul claro al pasar el mouse */
    color: #0d6efd; /* Azul vibrante para resaltar */
}

.sidebar .navbar-brand[b-6eawenayvb] {
    font-size: 1.2rem;
    font-weight: bold;
    color: #0d6efd; /* Azul vibrante para el título */
    margin-bottom: 20px;
}

/* Ajustes adicionales para el pie de página */
.footer[b-6eawenayvb] {
    position: relative;
    margin-left: 250px; /* Alineación con el contenido principal */
    padding: 10px 20px;
    background-color: #ced4da; /* Mismo tono que la barra lateral */
    border-top: 1px solid #ced4da; /* Borde gris claro */
}