
@{
    ViewData["Title"] = "Index";
}

<h1>Sucursales</h1>
<script src="~/js/sucursal.js"></script>
<script src="~/js/queries.js"></script>
<form id="frmBusqueda" method="POST"> 
<div class="input-group input-group-sm mb-3">
    <span class="input-group-text" id="inputGroup-sizing-sm">Nombre</span>
    <input type="text" id="idSucur" name ="nombre" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
</div>
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Direccion</span>
        <input type="text" id="idSucurD" name="direccion" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="d-flex justify-content-start align-items-center">
        <button type="button" onclick="buscarSuc()" class="btn btn-outline-primary me-2">Filtrar</button>
        <button onclick="LimpiarSuc()" class="btn btn-primary" type="button">Limpiar</button>
    </div>
</form>
<div id="divTabla">
</div>

<form id="frmIn" method="POST">
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Nombre</span>
        <input type="text" id="idSucur" name="nombre" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Direccion</span>
        <input type="text" id="idSucurD" name="direccion" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="d-flex justify-content-start align-items-center">
        <button type="button" onclick="guardarSuc()" class="btn btn-outline-primary me-2">Guardar</button>
        <button type="button" onclick="LimpiarIn()" class="btn btn-primary">Limpiar</button>
    </div>
</form>


